# The Plone version is pinned into the base.cfg by extending a versions.cfg
# These versions will pin our release profiles to a specific version
# this will help with repeatability.
[versions]
z3c.recipe.tag = 0.3.0
ipython = 0.12
zc.buildout = 2.4.0
setuptools = 18.5
plone.app.registry = 1.3.6
poi.maildefaults = 1.1
